/* main */
@use "./base/typography";
@use "./base/reset";
@use "./pages/home";

body {
    font-family: var(--font-serif);
    width: min(80vw, 30rem);
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.poem {
    p {
        .poem__stanza {
            padding-block-start: 10rem;
        }

    }
}

header {
    font-family: $font;
}
